ol {
  list-style: none;
  padding: 0;
}

iframe {
  border: none;
  border-radius: 12px;
  position: relative;
  width: 100%;
  height: 32rem;
}

ul li:has(img) {
  position: relative;
  img {
    margin: 0 1px;
    position: absolute;
    bottom: 0;
    object-fit: cover;
    background-size: 150%;
    height: 21px;
    width: 21px;
  }
}

.contributions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;

  > li {
    margin: 0.5em;
    text-align: center;

    img {
      border-radius: 50%;
      width: 10em;
    }
  }
}
