.leaflet-popup-content:has(.bus-tooltip) {
  width: 350px;
  direction: rtl;
  text-align: right;

  .bus-tooltip {
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        font-weight: bold;

        > span {
          font-weight: normal;
        }
      }
    }

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}