.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
}

.main-header.dark {
  background: #303230;
}

@media (width < 768px) {
  .main-header {
    justify-content: space-between;
  }

  .main-header.dark {
    justify-content: space-between;
  }
}

.theme-icon {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.1s;
}

.theme-icon:hover {
  transform: scale(1.1);
}

.bulb-dark {
  color: #fff;
}

.close-modal-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: all 0.1s;
  border: none;
  background: transparent;

}

.header-display-none {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-out;
}

.header-display-flex {
  height: 64px;
  overflow: hidden;
  transition: height 0.5s ease-out;
}
