.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12) !important;
}

.main-header.dark {
  background: #303230;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7) !important;
}

.main-header:dir(ltr) {
  border-radius: 0 0 32px 0;
}

.main-header:dir(rtl) {
  border-radius: 0 0 0 32px;
}

@media only screen and (width < 768px) {
  .main-header {
    justify-content: space-between;
  }

  .main-header.dark {
    justify-content: space-between;
  }
}

.theme-icon {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.1s;
}

.theme-icon:hover {
  transform: scale(1.1);
}

.bulb-dark {
  color: #fff;
}
