{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]", "^src"],
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true
}
