.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #3E3D67;
}

.date-picker-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}