@import '../../resources/variables';

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #3e3d67;
}

.widget {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: white;

  .chart {
    height: 400px;
    overflow-y: scroll;
  }

  .tooltip-icon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
  }

  .tooltip-icon:hover {
    background-color: #333;
  }
}
