@import '../../resources/variables';

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #3e3d67;
}

.widget {

  .chart {
    height: 400px;
    overflow-y: scroll;
  }
}

