@import '../../resources/variables';

.gaps-percentage-displayed {
  font-weight: bold;
  width: 200px;
  &-great-result {
    color: $great-result;
  }
  &-average-result {
    color: $average-result;
  }
  &-terrible-result {
    color: $terrible-result;
  }
}
