.selector {
  &-minute,
  &-line {
    &-text-field {
      width: 100%;

      &_visible {
        &:hover .clear-indicator,
        & .Mui-focused .clear-indicator {
          position: absolute;
          visibility: visible;
        }
      }

      &_hidden {
        &:hover .clear-indicator,
        & .Mui-focused .clear-indicator {
          position: absolute;
          visibility: hidden;
        }
      }
    }
  }
}
