.modal-info-ico {
  margin-right: 12px;
}

.modal-iframe-container {
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
  position: relative;

  iframe {
    border: none;
    border-radius: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
