@import '../../resources/variables';


.hideOnMobile {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hideOnMobile {
    display: block;
  }
}
.hideOnDesktop {
  display: block;
}
@media only screen and (min-width: 768px) {
  .hideOnDesktop {
    display: none;
  }
}
  
.sidebar-logo {
  position: relative;
  margin: 20px auto;
  width: 119px;
  font-size: 30px;
  border-top: 6px solid gray;
  border-bottom: 8px solid gray;
  padding-bottom: 0;
  line-height: 25px;
  &::before {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    position: absolute;
    background: gray;
    top: 28px;
    right: 24px;
    content: ' ' 
  }
  &::after {
      height: 10px;
      width: 10px;
      border-radius: 5px;
      position: absolute;
      background: gray;
      top: 28px;
      left: 17px;
      content: ' ' 
  }
}

.sidebar-logo-collapsed {
  position: relative;
  margin: 20px auto;
  text-align: center;
  font-size: 22px;
  border-top: 6px solid gray;
  border-bottom: 8px solid gray;
  padding-bottom: 0;
  line-height: 25px;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
}

.sidebar-divider {
  height: 1px;
  background-color: #ccc; 
  margin: 8px 0; 
}