.sidebar-section {
  display: flex;
  flex-direction: column;
}

.ant-layout-sider {
  position: relative;
  z-index: 1;
  overflow-y: auto;

  .ant-layout-sider-trigger {
    border-top: 1px #ccc solid;
  }
}

.ant-drawer .ant-drawer-header {
  border-bottom: 1px #ccc solid;

  .ant-drawer-header-title {
    justify-content: end;
  }
}

.dark .ant-menu {
  background-color: transparent;

  .ant-menu-item-selected {
    color: white !important;
    background-color: #1668dc !important;
  }
}
