@import '../../resources/variables';

.hideOnMobile {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hideOnMobile {
    display: block;
  }
}
.hideOnDesktop {
  display: block;
}
@media only screen and (min-width: 768px) {
  .hideOnDesktop {
    display: none;
  }
}

.sidebar-logo {
  text-align: center;
  svg {
    padding: 0 8px;
    .st0 {
      fill: none;
      stroke: #000000;
      stroke-width: 23;
      stroke-miterlimit: 10;
    }
    .st1 {
      display: none;
      fill: none;
      stroke: #000000;
      stroke-width: 23;
      stroke-miterlimit: 10;
    }
    path {
      stroke-dasharray: 1720;
      stroke-dashoffset: 1720;
      animation: dash 0.8s linear forwards;
    }
    circle {
      stroke-dasharray: 420;
      stroke-dashoffset: 420;
      animation: dash 1s linear forwards;
      animation-delay: 0.5s;
    }
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}

.sidebar-logo-collapsed {
  position: relative;
  margin: 20px auto;
  text-align: center;
  font-size: 22px;
  border-top: 6px solid gray;
  border-bottom: 8px solid gray;
  padding-bottom: 0;
  line-height: 25px;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
}

.sidebar-divider {
  height: 1px;
  background-color: #ccc;
  margin: 8px 0;
}
