main,
main > div,
.map-container,
.leaflet-container,
.map-info,
.map-index-item-config {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.leaflet-container {
  min-height: calc(100vh - 88px);
}

.map-info {
  position: relative;
  margin-bottom: 1em;

  .map-index {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;
    border: 2px solid black;
    background-color: rgba($color: #fff, $alpha: 50%);
    padding: 1em;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-config {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 1em;
      }

      &-line {
        position: absolute;
        width: 25px;
        height: 4px;
      }

      &-icon {
        display: flex;

        img {
          width: 20px;
          height: 20px;
      }

      }

      &-title {
        width: 100px;
        text-align: left;
      }
    }
  }

  .map-index.dark {
    background-color: #303230;
  }
}

pre {
  direction: ltr;
  height: 200px;
  overflow-y: auto;
}

.map-header-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.bus-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .bus-icon-circle {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;

    img {
      width: 100%;
      height: 100%;
    }
  }

  > .operator-name {
    background-color: rgb(255 255 255 / 40%);
    font-weight: bold;
  }
}

.expand-button {
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: 999;
}

.expanded {
  position: absolute;
  inset: 0;
}
