@import '../../../../resources/variables';

.menu {
    flex-direction: column;
    list-style: none;
    padding: 0;
    .menu-item {
        width: 240px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid $gray-5;
        border-radius: 5px;
        margin-bottom: 20px;
        line-height: initial;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #f2f2f2;
        }
        &.active {
            background-color: $color-active;
            color: white;
            border: none;
        }
    }
}

.sideber-menu {
    display: none;
}

@media screen and (max-width: $mobile-max-width) {

    .main > .sidebar {
        max-width: 0;
        padding: 0;
        transition: all 0.2s ease-in-out;

        .sideber-menu {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            cursor: pointer;
            font-size: 20px;

            &-line {
                width: 30px;
                height: 3px;
                background-color: black;
                margin: 5px 0;
            }
        }
    }

    .main > .sidebar.open{
        display: block;
        position: absolute;
        z-index: 500;
        max-width: 100%;
        padding: 30px;
        margin-right: 1px;
    }

}
