.operatorHbarChart {
.operator {
    display: flex;
    flex-direction: row;
    margin-bottom: 31px;
    position: relative;

    .operatorName {
        width: 16%;
        border-left: 1px solid white;
        color: white;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding-right: 20px;
        box-sizing: border-box;
    }

        .operatorBar {
        flex-grow: 1;

        .operatorBarTotal {            
            .operatorBarActual {
                text-align: left;
                font-size: 28px;
                font-weight: 500;
                color: white;
                padding: 10px;
                direction: ltr;
                text-align: left;

                &.small {
                    color: inherit;
                    direction: rtl;
                    text-indent: calc(100% + 10px);
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }

    .overlay {
        $tooltipBackground: rgba(black, 0.5);
        $tooltipShadow: 0 0 10px 0 $tooltipBackground;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.5s;
        box-shadow: $tooltipShadow;
        background: $tooltipBackground;
    }

    &:hover {
        .overlay {
            opacity: 1;
        }
    }
}
}