// import hebbo:
@import 'https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap';
@import './resources/variables.scss';

.main {
    flex-direction: row;
    font-family: Heebo;

    > .sidebar {
        height: 100vh;
        background-color: white;
        padding: 10px;

       .sidebar-logo {
            position: relative;
            margin: 20px 50px 26px 0;
            width: 119px;
            font-size: 30px;
            border-top: 6px solid gray;
            border-bottom: 8px solid gray;
            padding-bottom: 0;
            line-height: 25px;
        }
        .sidebar-logo::before {
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            background: gray;
            top: 28px;
            right: 24px;
            content: ' ' 
        }
        .sidebar-logo::after {
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            background: gray;
            top: 28px;
            left: 17px;
            content: ' ' 
        }        
    }
}