@use './resources/variables';
@use './shared/shared.css';
@import 'https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap';

.main {
  flex-direction: row;
  font-family: Heebo, sans-serif;
}

.page-title{
    margin-top: 0;
}

.display-sticky {
  position: sticky;  
  top: 0.5rem;
  background-color: #f5f5f5;
  z-index: 2000;
}