// import hebbo:
@import 'https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap';
@import './resources/variables';
@import './shared/shared.css';

.main {
  flex-direction: row;
  font-family: Heebo, sans-serif;
}

.page-title {
  margin-top: 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
