@use './resources/variables';
@import 'https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap';

.main {
  flex-direction: row;
  font-family: Heebo, sans-serif;
}

.page-title {
  margin-top: 0;
}
