@use './resources/variables';
@use './shared/shared.css';
@import 'https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap';

.main {
  flex-direction: row;
  font-family: Heebo, sans-serif;
}

.page-title{
    margin-top: 0;
}

.position-stiky-header {
  position: sticky;
  top: 0;
  z-index: 2000;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11.88rem;
}

.height-725 {
  height: 7.25rem;
}

