@use './resources/variables' as vars;
@use './resources/map.scss';
@import 'leaflet/dist/leaflet.css';

$font-family-base: 'Heebo', sans-serif;
$font-family-code: source-code-pro, 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;

@mixin register-heebo-font($font-weight, $file-name) {
  @font-face {
    font-family: Heebo;
    src: url('../fonts/#{$file-name}.ttf') format('truetype');
    font-style: normal;
    font-weight: $font-weight;
    font-display: swap;
  }
}

@include register-heebo-font(400, 'Heebo-Regular');
@include register-heebo-font(500, 'Heebo-Medium');
@include register-heebo-font(700, 'Heebo-Bold');

html,
body {
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-family-code;
}

.main {
  flex-direction: row;
  font-family: $font-family-base;
}

.page-title {
  margin-top: 0;
}

.hideOnDesktop {
  display: none !important;
}

@media only screen and (width < vars.$mobile-max-width) {
  .hideOnMobile {
    display: none !important;
  }

  .hideOnDesktop {
    display: block !important;
  }
}
