.bus-tooltip.hebrew {
  direction: rtl;
  text-align: right;
}

.bus-tooltip {
  height: 20rem;

  .loading {
    display: flex;
    gap: 1rem;
  }

  > .header {
    max-height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    img {
      width: 50px;
      height: 50px;
    }
  }

  > .content {
    max-height: 70%;
    overflow-y: auto;
    padding-left: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      font-weight: bold;
      margin-bottom: 0.25rem;

      > span {
        font-weight: normal;
      }
    }
  }
}
