.ant-layout {
  position: relative;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;

  img {
    height: 15rem;
  }

  h1 {
    margin: 0;
  }

  p {
    margin-bottom: 3rem;
    font-size: large;
  }

  footer {
    background-color: #b0d0a4;
    width: 100%;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    padding: 0.5rem 0;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @media only screen and (max-width: 600px) {
    margin-bottom: 3rem;
  }
}

.page-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  font-weight: 600;
  justify-content: space-between;

  span {
    margin-bottom: 0.5rem;
  }

  a {
    background-color: #b74c42;
    color: white;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out 0s;

    &:hover {
      transform: scale(1.25);
    }
  }
}
