.HbarChart {
    .entry {
        position: relative;
        margin-bottom: 2%;
        padding: 3px;
        border-radius: 8px;

        .entryData {
            display: flex;
            justify-content: space-between;
            margin-left: 10px;
            font-size: 16px;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .entryBar {
            display: flex;
            align-items: center;

            .barDisplay {
                height: 5px;
                display: inline-block;
                border-radius: 4px;
                margin-left: 10px;
                text-align: center;
                font-weight: bold;
                color: white;
            }

            .entryBarTotal {
                .entryBarActual {
                    font-size: 15px;
                }
            }
         }
    }
}

.HbarChart:hover {
    cursor: default;
}

.entry:hover{
    background-color: gray
}