.HbarChart {
    .entry {
        position: relative;

        .entryName {
            margin-left: 10px;
            font-size: 16px;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .entryBar {
            display: flex;
            align-items: center;

            .barDisplay {
                display: inline-block;
                border-radius: 10px;
                margin-left: 10px;
                text-align: center;
                font-weight: bold;
                color: rgb(255, 255, 255);
            }

            .entryBarTotal {
                .entryBarActual {
                    font-size: 15px;
                }
            }
         }
    }
}

.HbarChart:hover {
    cursor: default;
}