on:
    workflow_run:
      workflows: ["Build"]
      types:
        - completed
  
jobs:
  deploy-to-s3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - name: Download pr number
        uses: actions/download-artifact@v2
        with:
          name: pr_number
          path: .
      - name: Read PR number
        id: read-pr
        run: |
          pr_number=$(cat pr_number)
          echo "PR_NUMBER=${pr_number}" >> $GITHUB_ENV
      - uses: shallwefootball/s3-upload-action@master
        name: Upload trace to S3
        if: always()
        id: s3-trace
        continue-on-error: true
        with:
          aws_key_id: ${{ secrets.AWS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws_bucket: noam-gaash.co.il
          source_dir: dist
          destination_dir: ${{ github.run_id }}/open-bus/${{ github.sha }}
      - name: find comment
        uses: peter-evans/find-comment@v1
        if: github.event_name == 'pull_request'
        id: fc
        with:
          issue-number: ${{ env.PR_NUMBER }}
          comment-author: 'github-actions[bot]'
          body-includes: 'Preview'
      - name: update comment
        uses: peter-evans/create-or-update-comment@v1
        if: steps.fc.outputs.comment-id
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          edit-mode: replace
          body: |
            Preview: https://s3.amazonaws.com/noam-gaash.co.il/${{ github.run_id }}/open-bus/${{ github.sha }}/index.html
            Preview Storybook: https://s3.amazonaws.com/noam-gaash.co.il/${{ github.run_id }}/open-bus/${{ github.sha }}/storybook/index.html
      - name: create comment
        uses: peter-evans/create-or-update-comment@v1
        if: steps.fc.outputs.comment-id == ''
        with:
          issue-number: ${{ env.PR_NUMBER }}
          body: |
            Preview: https://s3.amazonaws.com/noam-gaash.co.il/${{ github.run_id }}/open-bus/${{ github.sha }}/index.html
            Preview Storybook: https://s3.amazonaws.com/noam-gaash.co.il/${{ github.run_id }}/open-bus/${{ github.sha }}/storybook/index.html
